@media only screen and (max-width: 50em){
{ box-sizing: border-box;}

.container {
    display:flex;
    flex-direction:column;
    justify-content: center;
}

html, body {
    font-family: "source-sans-pro", "avenir", sans-serif;
    color: #404042;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Next", "Avenir", sans-serif;
    letter-spacing: 5px;
}

header {
    background-color: #85a7ad;
}
nav button {
    display:block;
    position:absolute;  
    left: 80px;
    top: -10px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 2.6rem;
}
nav ul.hide { display: none; }
    
header nav {
    position: relative;
    display: block;
    left: 170px;
    top: -180px;
    font-size: 2em;
}

header nav li {
    display: block;
    position: relative;
    top: 130px;
    left: -70px;
    line-height: 40px;
   
}

header nav li a {
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #404042;
}

header nav li a:visited {
    color: #ffffff;
}

header nav li a:active {
    color: #404042;
    }
    
header img {
    z-index: 1;
    position: relative;
    width: 40%;
    left: 10px;
    bottom: -20px;
    padding-bottom: 70px;
    width: 50%;
}

main {
    height: 30vh;
}

main img {
    position: relative;
    top: -40px;
    width: 100%;
    padding-bottom: 90px;
}

.intro {
    z-index: 5;
    position: relative;
    top: -330px;
}

.intro h1 {
    position: relative;
    background-color: #ffffff;
    font-size: 1em;
    width: 155px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.intro img {
    position: relative;
    top: 10px;
    width: 50%;
}

.hey-there {
    position: relative;
    color: #ffffff;
    background-color: #404042;
    padding-top: 50px;
    padding-bottom: 50px;
    top: -360px;
    text-align: center;
}

.hey-there p{
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
}

.hey-there hr {
    width: 200px;
}
    
.watercolor hr {
    position: relative;
    top: -370px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    background-color: #85a7ad;
    color: #e1eef4;
    border: 0 none;
}
    
main nav li {
    display: inline;
    position: relative;
    justify-content: center;
    font-size: 2rem;
    top: -150px;
}

main nav li img {
   position: relative;
   top: -170px;
   width: 250px;
}

main nav {
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    
}
main nav #buttons-nav {
    position: relative;
    left: -30px;
    padding-top: 2px;
    padding-right: 16px;
    padding-bottom: 2px;
    padding-left: 16px;
    margin-left: 50px;
    line-height: 60px;
    
}
main nav #buttons-nav a{
    text-decoration: none;
    color: #404042;
    font-size: .7em;
   
}
main nav #buttons-nav:hover {
    border-color: #85a7ad;
}
main nav #buttons-nav a:hover {
    color: #85a7ad;
}
.watercolor img {
    position: relative;
    left: 300px;
    display: block;
    width: 90%;
    top: -20px;
    
}
.what {
    position: relative;
    top: -490px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-right: 10px;
    padding-left: 10px;
}

.what img {
    z-index: 4;
    position: relative;
    top: 2px;
    left: 0px;
    align-content: center;
    width: 40%;
}

.what hr {
    width: 150px;
}

#buttons-nav-1 {
    position: relative;
    top: -1130px;
    left: -20px;
    border-style: solid;
    border-color: #404042;
    border-width: 1.5px;
    padding-top: 2px;
    padding-right: 16px;
    padding-bottom: 2px;
    padding-left: 16px;
    margin-left: 90px;
}
    #buttons-nav-2 {
    position: relative;
    top: -848px;
    left: -20px;
    border-style: solid;
    border-color: #404042;
    border-width: 1.5px;
    padding-top: 2px;
    padding-right: 16px;
    padding-bottom: 2px;
    padding-left: 16px;
    margin-left: 90px;
}
    #buttons-nav-3 {
    position: relative;
    top: -555px;
    left: -20px;
    border-style: solid;
    border-color: #404042;
    border-width: 1.5px;
    padding-top: 2px;
    padding-right: 16px;
    padding-bottom: 2px;
    padding-left: 16px;
    margin-left: 90px;
}
footer {
    position: relative;
    width: 100%;
    bottom: -2100px;
    left: 0;
    height: 100px;
    background-color: #85a7ad;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #ffffff;
}

footer nav li {
    display: inline;
    padding-right: 15px;
    
}

footer nav li a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

footer nav li a:hover {
    color: #404042;
}
    /* css for about me page */
    
    #portrait img {
        display: block;
        position: relative;
        top: 450px;
        width: 100%;
    }
    
    #hello {
        display: block;
        position: relative;
        top: -295px;
        width: 90%;
        padding-left: 20px;
    }
    
    #about-footer {
        position: relative;
        width: 100%;
        bottom: -600px;
        left: 0;
        height: 100px;
    }

/* CSS for Contact Page */

#contact-main {
    position: relative;
    top: 50px;
    height: 0.1vh;
    padding-bottom: 0px;
}

#paint-swatches img{
    width: 200%;
    position: relative;
    top: -85px;
    z-index: -1;
    display: block;
}
    
.contact-title {
    position: relative;
    left: 20px;
    margin-top: -420px;
    color: #404042;
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact-title hr{
    width: 200px;
}
form {
    display: block;
    position: relative;
    width: 90%;
    top: 100px;
    border-style: solid;
    border-color: #85a7ad;
    text-align: center;
    align-content: center;
    padding-top: 40px;
    padding-right: 5px;
    padding-bottom: 40px;
    padding-left: 5px;
    margin: auto;
    z-index: 2;
    bottom: -280px;
}

input[type=text] {
    width: 75%;
    height: 30px;
}


input[type=text]:focus {
    border-color: #85a7ad; 
}

input[type=submit] {
    width: 250px;
    height: 50px;
    margin-top: 10px;
    border-style: solid;
    border-color: #85a7ad;
    color: #85a7ad;
    background-color: #ffffff;
}

input[type=submit]:hover {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    background-color: #85a7ad;
    color: #ffffff;
    border-style: hidden;
}
.hibiscus img {
    display: none;
}

.contact-footer {
        position: relative;
        width: 100%;
        left: 0;
        height: 100px;
        overflow-y: hidden;
        overflow-x: hidden;
        bottom: -1500px;
}

/* portfolio css */

#portfolio {
    position: relative;
    display: block;
    bottom: -30px;
    text-align: center;
}
    
    .portfolio hr {
        position: relative;
        top: 30px;
        width: 250px; 
    }
    
    .port-description-one {
        position: relative;
        top: 30px;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .port-description-two {
        position: relative;
        top: 30px;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    }

/* #slider img {
	position:absolute;
    top: 590px;
    left: 30px; /*Collapses all images on top of each other*/
			/*Sets the images to be on the far left side of the slider*/
  /*  width: 90%;
} 

#slider {
	position: relative;	
    width: 90%;
	margin:0;	
 }

#slider img {
  animation-name: sliderFadeInOut;		
  animation-timing-function: ease-in-out;	
  animation-iteration-count: infinite;		
  animation-duration: 7.5s;			
  
}
	@keyframes sliderFadeInOut {
	0% {
		opacity:1;
	}
	27% {
		opacity:1;
	}
	33% {
		opacity:0;
	}
	93% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
#slider img:nth-of-type(1) {
  animation-delay: 5s;
}
#slider img:nth-of-type(2) { 
  animation-delay: 2.5s;
}
#slider img:nth-of-type(3) {
  animation-delay: 0s;
}
*/
#portfolio-footer {
    position:relative;
    bottom: -4300px;
}
	
.grid-container {
  display: block;
}

.grid-item {
  text-align: center;
  position: relative;
  bottom: -70px;
}

.grid-item img {
    width: 100%;
}
    .image {
        width: 100%;
    }
    
    .text {
        display: none;
    }

/* css for services page */ 
.services h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}	

#column-one {
    position: relative;
    display: block;
    width: 90%;
    top: 10px;
    margin-left: 20px;
}
#img-column-one img {
    position: relative;
    width: 100%;
    top: 40px;
    
}
#column-two {
    position: relative;
    width: 90%;
    margin-left: 20px;
}
#img-column-two img {
    position: relative;
    top: 20px;
    width: 100%;
}
#services-footer {
    position: relative;
    bottom: -1450px;
}

}
}

 